.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recommendList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
